$background-color: #161d31;
$forground-color: #283046;
$sidebar-padding: 10px;
$sidebar-width: 200px;
$main-content-padding: 20px;
$standard-border-radius : 5px;

$star-icon-color: #ff9f43;
$shopping-cart-background-color: #7367f0;
$shopping-cart-item-border-color: #373f55;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$gray-font: #b4b7bd;
$large-font-size: 15px;
$regular-font-size: 12px;
$small-font-size: 10px;

$standard-padding: 20px;

@mixin large-font {
    font-family: 'OpenSans-semibold';
    font-size: $large-font-size;
}

@mixin small-font {
    font-family: 'OpenSans-light';
    font-size: 10px;
}


@mixin sidebar-link {
    border-radius: $standard-border-radius;
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: $gray-font;
    
    label {
        margin-left: 10px;
        color: $gray-font;
        font-size: $regular-font-size;
    }
    
    .side-bar-link-meta {
        margin-left: auto;
        display: inline-flex;
        align-items: center;

        svg {
            margin-left: 5px;
            opacity: 30%;
        }
        span {
            color: $star-icon-color;
            font-size: 10px;
            &.circle {
                background-color: #283046;
                display: inline-block;
                width: 20px;
                height: 20px;
                line-height: 20px;
                border-radius: 50%;
                text-align: center;
            }

            &.square {
                border-radius: 10px;
                padding: 1px 5px;
                font-size: 10px;
                color: #28c76f;
                background-color: rgba(40,199,111,.12);
            }
        }

    }
}

@mixin circle {
    display: inline-flex;
    align-items: center;
    .circle-img {
        border-radius: 50%;
        height: 50px;
        line-height: 50px;
        width: 50px;
        text-align: center;
    }

    .circle-desc {
        display: inline-block;
        padding-left: 20px;
        h5 {
            margin: 0;
            font-size: $large-font-size;
            color: #ffffff;
        }
        span {
            @include small-font;
            color: $gray-font;
        }
    }
}
:host {
    display: flex;
    height: 100%;
    margin: 0;    
}

.side-bar {
    background-color: $forground-color;
    width: $sidebar-width;
    padding: 10px;
    .side-bar-link {

        @include sidebar-link;

        &.home {
            background-color: $background-color;
            padding: 10px;
        }
    }

    .side-bar-category {
        margin: 20px 0 20px 10px;

        h5 {
            margin: 0;
            margin: 5px 0;
            font-family: 'OpenSans-semibold';
            font-size: $regular-font-size;
            color: $gray-font;
            opacity: 0.3;
        }
    }
}
.main-content {
    flex: 1 1 calc(100% - #{$sidebar-width});
    max-width: calc(100% - #{$sidebar-width});
    padding: $standard-padding;
    color: $gray-font;

    .toolbar {
        background-color: $forground-color;
        padding: 10px;
        border-radius: $standard-border-radius;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            display: none;
        }

        .toolbar-right-content {
            display: flex;
            justify-content: center;
            align-items: center;

            .user-details {
                display: flex;
                flex-direction: column;
                padding-left: 10px;

                label {
                    font-size: 11px;
                    text-align: right;
                    &.user-name {
                        font-size: $regular-font-size;
                        font-family: "OpenSans-semibold";
                    }
                }
            }
        }

        .iconify {
            margin: 5px;
            color: $gray-font;
            cursor: pointer;
            &.star-icon {
                color: $star-icon-color;
            }
        }

        .count {
            background-color: $shopping-cart-background-color;
            width: 15px;
            height: 15px;
            position: absolute;
            right: -3px;
            top: -10px;
            border-radius: 50%;
            font-size: 10px;
            font-family: "OpenSans-semibold";
            display: flex;
            justify-content: center;
            z-index: 1;
        }
    }

    .title-container {
        display: flex;
        padding: 20px 0;

        .left {
            width:30%;
            background-color: $forground-color;
            border-radius: $standard-border-radius;
            padding: $standard-padding;

            h6 {
                @include large-font;
                margin: 0;
            }

            p {
                margin: 20px 0 0 0;
                color: $gray-font;
                font-size: $regular-font-size;
            }
        }
        .right {
            width: calc(70% - 20px);
            margin-left: 20px;
            padding: $standard-padding;
            background-color: $forground-color;
            border-radius: $standard-border-radius;

            h6 {
                @include large-font;
                margin: 0;

                span {
                    @include small-font;
                    color: $gray-font;
                    float: right;
                }
            }

            // Cirlces styles
            .circles {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                .circle {
                    @include circle;

                    &.circle1 {
                        .circle-img {
                            background-color: rgb(255,255,255,.12);
                            color: #b2c0c3;
                        }
                    }

                    &.circle2 {
                        .circle-img {
                            color: #00cfe8;
                            background-color: rgba(0,207,232,.12);
                        }
                    }

                    &.circle3 {
                        .circle-img {
                            color: #ea5455;
                            background-color: rgba(234,84,85,.12);
                        }
                    }

                    &.circle4 {
                        .circle-img {
                            color: #28c76f;
                            background-color: rgba(40,199,111,.12);
                        }
                    }
                }
            }
        }
    }

    .main-container {
        display: flex;
        padding-bottom: 20px;

        .left {
            width: 30%;
            border-radius: $standard-border-radius;
            display: flex;

            .main {
                display: flex;
                flex-direction: column;
                width: 100%;
                .left-main {
                    display: flex;
                    
                    .inner-left {
                        background-color: $forground-color;
                        padding: $standard-padding;
                        width: calc(50% - 10px);
                        height: 100px;
                        border-radius: $standard-border-radius;
                    }
                    .inner-right {
                        background-color: $forground-color;
                        width: calc(50% - 10px);
                        padding: $standard-padding;
                        margin-left: 20px;
                        height: 100px;
                        border-radius: $standard-border-radius;
                    }

                }
            }
            

            .inner-bottom {
                margin-top: 20px;
                width: 100%;
                height: 100px;
                padding:20px;
                background-color: $forground-color;
                border-radius: $standard-border-radius;
            }
        }
        .right {
            padding: $standard-padding;
            width: calc(70% - 20px);
            margin-left: 20px;
            background-color: $forground-color;
            border-radius: $standard-border-radius;
            padding-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .main-container-bottom {
        display: flex;

        .left {
            width: calc(100% - 10px);
            background-color: $forground-color;
            border-radius: $standard-border-radius;
            padding: $standard-padding;
            height: 200px;
        }
        .right {
            background-color: $forground-color;
            border-radius: $standard-border-radius;
            padding: $standard-padding;
            margin-left: 20px;
            width: calc(100% - 10px);
            height: 200px;
            
        }
    }
}

@media(max-width: 992px) {

    .side-bar {
        width: 0;
        height: auto;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 20px;
        top: 92px;
        overflow-x: hidden;
        transition: 0.5s;
        z-index: 1;
        box-shadow: $box-shadow;
    }

    .show-sidebar {
        width: 200px;
        padding: 10px;
        left: 20px;
        top: 92px;
    }
    .main-content {
        flex: 1 1 100%;
        max-width: 100%;

        .toolbar {
            .toolbar-left-content {
                // toolbar left icons has to hidden in tablet
                .toolbar-icon {
                    display: none;
                }
                .menu {
                    display: inline-block;
                }
            }
        }


            .title-container {
                .right {
                    width: 50%;

                    .circles {
                        display: inline-block;
                        margin-top: 0;
                        .circle {
                            margin-top: 20px;
                            width: 50%;
                        }
                    } 
                }
            }

        .title-container, .main-container {
            .left, .right {
                width: 50%;
            }
        }
    }

}

@media(max-width: 768px) {
    .main-content {
        .toolbar .toolbar-right-content .user-details {
            display: none;
        }
        .title-container {

            flex-direction: column;
            .left {
                width: 100%;
            }
            .right {
                width: 100%;
                margin: 20px 0 0 0;
                
                .circles {
                    display: block;

                    .circle {
                        width: 100%;
                    }
                }
            }
        }

        .main-container {
            flex-direction: column;

            .left {
                width: 100%;
            }
            .right {
                width: 100%;
                margin: 20px 0 0 0;
            }
        }

        .main-container-bottom {
            flex-direction: column;

            .left {
                width: 100%;
            }

            .right {
                width: 100%;
                margin: 20px 0 0 0;
            }
        }
    }
}

.my-cart {
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 0px;
    color: $gray-font;
    background-color: $forground-color;
    border-radius: $standard-border-radius;
    box-shadow: $box-shadow;
    z-index: 1;
    display: none;

    &.show-cart {
        right: 0;
        top: 50px;
        display: inline-block;
        width: 400px;
        height: auto;
        transition: 0.5s;
    }

    .cart-header {
        font-size: $large-font-size;
        font-weight: normal;
        padding: 20px 20px;
        margin: 0;
        border-bottom: 1px solid $shopping-cart-item-border-color;
        label {
            float: right;
            padding: 5px 10px;
            border-radius: 20px;
            color: $shopping-cart-background-color;
            background-color: #303557;
            @include large-font;
        }
    }
    .cart-items {
        .iconify {
            margin: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            tr {
                &:hover {
                    background-color: $background-color;

                    td:last-child {
                        span {
                            display: inline;
                        }
                    }
                }
            }
            td {
                list-style: none;
                border-bottom: 1px solid $shopping-cart-item-border-color;
                padding: 10px 20px;
                font-family: 'OpenSans-light';
                font-size: $large-font-size;
                .stepper {
                    padding: 5px 0;
                    border: 1px solid $shopping-cart-item-border-color;
                    background-color: $forground-color;
                    border-radius: $standard-border-radius;
                    display: inline-block;
                    box-shadow: $box-shadow;


                    a {
                        border-right: 1px solid $shopping-cart-item-border-color;
                        padding: 0 10px;
                        height: 16px;
                        line-height: 16px;
                        &:last-child {
                            border-right: 0;
                        }

                        
                    }
                }

                &:last-child {
                    text-align: right;

                    span {
                        display: none;
                        position: absolute;
                        top: 7px;
                        right: 20px;
                    }
                }
            }
        }
    }
    .cart-footer {
        padding: 10px 20px;

        label {
            @include large-font;
            margin: 10px 0;
            display: inline-block;
            width: 100%;
        }

        span {
            @include large-font;
            float: right;
            color: $shopping-cart-background-color;
        }

        button {
            @include large-font;
            width: 100%;
            border-radius: $standard-border-radius;
            background-color: $shopping-cart-background-color;
            border: 1px solid $shopping-cart-background-color;
            padding: 10px;
            color: $gray-font;
        }
    }

}