<div class="side-bar" [ngClass]="{'show-sidebar': showSidebar}" >
  <div class="side-bar-link home">
    <span class="iconify" data-icon="feather-home" data-inline="false"></span>
     <label>Home</label>

     <label class="side-bar-link-meta">
       <span class="circle">2</span>
       <span class="iconify" data-icon="feather:chevron-down" data-inline="false"></span>
     </label>
  </div>

  <div class="side-bar-category">
    <h5>CATEGORY1</h5>

    <div class="side-bar-link">
      <span class="iconify" data-icon="feather-mail" data-inline="false"></span>
       <label>Email</label>
    </div>

    <div class="side-bar-link">
      <span class="iconify" data-icon="feather:message-square" data-inline="false"></span>
       <label>Chat</label>
    </div>

    <div class="side-bar-link">
      <span class="iconify" data-icon="feather-check-square" data-inline="false"></span>
       <label>Todo</label>
    </div>

    <div class="side-bar-link">
      <span class="iconify" data-icon="feather:calendar" data-inline="false"></span>
       <label>Calendar</label>
    </div>

    <div class="side-bar-link">
      <span class="iconify" data-icon="feather-shopping-cart" data-inline="false"></span>
       <label>eCommerce</label>
       <label class="side-bar-link-meta">
         <span><span class="iconify" data-icon="feather:chevron-right" data-inline="false"></span></span>
       </label>
    </div>

  </div>

  <div class="side-bar-category">
    <h5>CATEGORY2</h5>

    <div class="side-bar-link">
      <span class="iconify" data-icon="feather-type" data-inline="false"></span>
       <label>Typography</label>
    </div>
    <div class="side-bar-link">
      <span class="iconify" data-icon="feather-eye" data-inline="false"></span>
       <label>Feather</label>
    </div>
    <div class="side-bar-link">

      <span class="iconify" data-icon="feather-credit-card" data-inline="false"></span>
      <label>Cards</label>
      <label class="side-bar-link-meta">
        <span class="square">new</span>
        <span class="iconify" data-icon="feather:chevron-right" data-inline="false"></span>
      </label>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="toolbar">
    <div class="toolbar-left-content">
      <!-- (click)="toggleSidebar($event)" -->
      <span  class="menu">
        <span class="iconify" data-icon="ion:menu" data-inline="false" ></span>
      </span>
      <span class="toolbar-icon">
        <span class="iconify" data-icon="feather:calendar" data-inline="false"></span>
      </span>
      <span class="toolbar-icon">
        <span class="iconify" data-icon="feather:message-square" data-inline="false"></span>
      </span>
      <span class="toolbar-icon">
        <span class="iconify" data-icon="feather-mail" data-inline="false"></span>
      </span>
      <span class="toolbar-icon">
        <span class="iconify" data-icon="feather-check-square" data-inline="false"></span>
      </span>
      <span class="toolbar-icon star-icon">
        <span class="iconify" data-class="star-icon" data-icon="feather-star" data-inline="false"></span>
      </span>
    </div>
    <div class="toolbar-right-content">
      <span class="toolbar-icon">
        <span class="iconify" data-icon="feather-search" data-inline="false"></span>
      </span>
      <span class="toolbar-icon" >
        <span (click)= "toggleCart()">
          <span class="count">{{shopping_cart_items.length}}</span>
          <span class="iconify" data-icon="feather-shopping-cart" data-inline="false"></span>
        </span>
        <div class="my-cart"  [ngClass]="{'show-cart': showCart}">
          <ng-container [ngTemplateOutlet]="cartTemlate"></ng-container>
        </div>
      </span>
      <span class="toolbar-icon">
        <span class="iconify" data-icon="feather-bell" data-inline="false"></span>
      </span>
      <div class="user-details">
        <label class="user-name">Username</label>
        <label>admin</label>
      </div>
    </div>
    
    
  </div>
  <div class="title-container">
    <div class="left">
      <h6>Title</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="right">
      <h6>Title <span>Updated N month(s) ago</span></h6>
      <div class="circles">
          <div class="circle circle1">
            <div class="img">img</div>
            <div class="circle-desc">
              <h5>999k</h5>
              <span>Lorem</span>
            </div>
          </div>

          <div class="circle circle2">
            <div class="img">img</div>
            <div class="circle-desc">
              <h5>999k</h5>
              <span>Lorem</span>
            </div>
          </div>

          <div class="circle circle3">
            <div class="img">img</div>
            <div class="circle-desc">
              <h5>999k</h5>
              <span>Lorem</span>
            </div>
          </div>

          <div class="circle circle4">
            <div class="img">img</div>
            <div class="circle-desc">
              <h5>999k</h5>
              <span>Lorem</span>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="left">
      <div class="main">
        <div class="left-main">
          <div class="inner-left"></div>
          <div class="inner-right"></div>
        </div>
        <div class="inner-bottom"></div>
      </div>
      

    </div>
    <div class="right"> <p>I am a text centered!</p></div>
  </div>
  <div class="main-container-bottom">
    <div class="left"></div>
    <div class="right"></div>
  </div>
</div>

<ng-template #cartTemlate>
  <div class="cart-header">
    My Cart <label> {{shopping_cart_items.length}} Items</label>
  </div>
  <div class="cart-items">
    <table>
      <tr *ngFor="let item of shopping_cart_items">
        <td>{{item.name}}</td>
        <td>
          <div class="stepper">

            <span (click)="reduceItemCount(item)">
              <span class="iconify" data-icon="feather:minus" data-inline="false"></span></span>
            <span>{{item.count}}</span>
            <span (click)="increateItemCount(item)">
              <span class="iconify" data-icon="feather:plus" data-inline="false"></span>
            </span>
          </div>
          


        </td>
        <td>
          ${{item.price}}
        </td>
      </tr>
    </table>
  </div>
  <div class="cart-footer">
    <label>Total: <span>${{totalCount()}}</span></label>
    <button>Checkout</button>
  </div>
</ng-template>